In [2]:
import pandas as pd
import numpy as np

## Transform population

In [2]:
df = pd.read_csv('population.csv')

In [3]:
df_2019=df[df.Year==2019]
df_2019.append(df[df.Year==2019])

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Refugees under UNHCR’s mandate,Asylum-seekers,IDPs of concern to UNHCR,Venezuelans displaced abroad,Stateless persons,Others of concern
46322,2019,Afghanistan,AFG,Afghanistan,AFG,0.0,0.0,2553390.0,NaN,0.0,447093.0
46323,2019,Benin,BEN,Afghanistan,AFG,0.0,5.0,0.0,NaN,0.0,0.0
46324,2019,Iran (Islamic Rep. of),IRN,Afghanistan,AFG,36.0,25.0,0.0,NaN,0.0,0.0
46325,2019,Pakistan,PAK,Afghanistan,AFG,72191.0,138.0,0.0,NaN,0.0,0.0
46326,2019,Turkey,TUR,Afghanistan,AFG,0.0,79.0,0.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
51713,2019,Venezuela (Bolivarian Republic of),VEN,Aruba,ABW,0.0,398.0,0.0,16602.0,0.0,0.0
51714,2019,Colombia,COL,Curacao,CUW,28.0,49.0,0.0,NaN,0.0,0.0
51715,2019,Venezuela (Bolivarian Republic of),VEN,Curacao,CUW,14.0,296.0,0.0,16190.0,0.0,0.0
51716,2019,Cuba,CUB,Sint Maarten (Dutch part),SXM,0.0,5.0,0.0,NaN,0.0,0.0
51717,2019,Iran (Islamic Rep. of),IRN,Sint Maarten (Dutch part),SXM,5.0,0.0,0.0,NaN,0.0,0.0

In [14]:
df[df.Year==2019].groupby('Country of origin').sum().sort_values('Refugees under UNHCR’s mandate')

,Year,Refugees under UNHCR’s mandate,Asylum-seekers,IDPs of concern to UNHCR,Venezuelans displaced abroad,Stateless persons,Others of concern
Country of origin,,,,,,,
Brunei Darussalam,2019,0.0,10.0,0.0,0.0,0.0,0.0
"China, Macao SAR",4038,0.0,33.0,0.0,0.0,0.0,0.0
Samoa,2019,0.0,84.0,0.0,0.0,0.0,0.0
Ireland,6057,0.0,87.0,0.0,0.0,0.0,0.0
Liechtenstein,2019,0.0,14.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
Somalia,207957,905109.0,48026.0,2648000.0,0.0,0.0,160.0
Myanmar,80760,1078268.0,37452.0,312018.0,0.0,0.0,119.0
South Sudan,104988,2234814.0,5622.0,1665815.0,0.0,0.0,10000.0
Afghanistan,189786,2728853.0,251024.0,2553390.0,0.0,0.0,450675.0
Syrian Arab Rep.,240261,6616983.0,118435.0,6146994.0,0.0,0.0,7612.0

In [8]:
df_2019_top = df[df.Year==2019][df[df.Year==2019]['Country of origin'].isin(['Syrian Arab Rep.','Afghanistan','South Sudan','Myanmar','Somalia'])]

In [9]:
df_2019_top['Country of origin'].unique()

array(['Afghanistan', 'Syrian Arab Rep.', 'Somalia', 'South Sudan',
       'Myanmar'], dtype=object)

In [10]:
df_2019_top_ = df_2019_top.copy()
df_2019_top['Type']='Origin'
df_2019_top_['Type']='Destination'
df_2019_final = df_2019_top.append(df_2019_top_)

In [12]:
df_2019_final.to_csv('population_2019_top.csv')

In [56]:
df_2019['Segment'] = 'Origin'

In [57]:
df_2019_ = df_2019.copy()

In [58]:
df_2019_['Segment']='asylum'

In [60]:
df_final = df_2019.append(df_2019_)

In [61]:
df_final['Segment'].unique()

array(['Origin', 'asylum'], dtype=object)

In [63]:
df_final.to_csv('population_2019.csv')

## Transform Demograph

In [156]:
df = pd.read_csv('demographics.csv')
df = df[['Year','Female 0 — 4','Female 5 — 11','Female 12 — 17','Female 18 — 59','Female 60',
        'Male 0 — 4','Male 5 — 11','Male 12 — 17','Male 18 — 59','Male 60']]

In [157]:
str(df.columns)

"Index(['Year', 'Female 0 — 4', 'Female 5 — 11', 'Female 12 — 17',\n       'Female 18 — 59', 'Female 60', 'Male 0 — 4', 'Male 5 — 11',\n       'Male 12 — 17', 'Male 18 — 59', 'Male 60'],\n      dtype='object')"

In [158]:
df = pd.melt(df,id_vars='Year',value_vars=df.columns[1:])
df['age']=np.nan
df['sex']=np.nan
age = []
for i in range(len(df['variable'])):
    df['age'][i] = (df['variable'][i].split(' ',1)[1])
    df['sex'][i] = (df['variable'][i].split(' ',1)[0])

/Users/zhangyan/anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/zhangyan/anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [159]:
df

     Year        variable    value      age     sex
0    2009    Female 0 — 4   295776    0 — 4  Female
1    2010    Female 0 — 4   387148    0 — 4  Female
2    2011    Female 0 — 4   436941    0 — 4  Female
3    2012    Female 0 — 4   425472    0 — 4  Female
4    2013    Female 0 — 4   514561    0 — 4  Female
5    2014    Female 0 — 4   602856    0 — 4  Female
6    2015    Female 0 — 4   623505    0 — 4  Female
7    2016    Female 0 — 4   670964    0 — 4  Female
8    2017    Female 0 — 4   882102    0 — 4  Female
9    2018    Female 0 — 4  1197808    0 — 4  Female
10   2019    Female 0 — 4  1184918    0 — 4  Female
11   2009   Female 5 — 11      703   5 — 11  Female
12   2010   Female 5 — 11      914   5 — 11  Female
13   2011   Female 5 — 11      914   5 — 11  Female
14   2012   Female 5 — 11   661363   5 — 11  Female
15   2013   Female 5 — 11   777595   5 — 11  Female
16   2014   Female 5 — 11   950716   5 — 11  Female
17   2015   Female 5 — 11  1004640   5 — 11  Female
18   2016   Female 5 — 11  1019592   5 — 11  Female
19   2017   Female 5 — 11  1268610   5 — 11  Female
20   2018   Female 5 — 11  1677196   5 — 11  Female
21   2019   Female 5 — 11  1665916   5 — 11  Female
22   2009  Female 12 — 17      814  12 — 17  Female
23   2010  Female 12 — 17     1035  12 — 17  Female
24   2011  Female 12 — 17     1095  12 — 17  Female
25   2012  Female 12 — 17   466480  12 — 17  Female
26   2013  Female 12 — 17   532235  12 — 17  Female
27   2014  Female 12 — 17   676790  12 — 17  Female
28   2015  Female 12 — 17   692570  12 — 17  Female
29   2016  Female 12 — 17   676846  12 — 17  Female
..    ...             ...      ...      ...     ...
80   2012    Male 12 — 17   513786  12 — 17    Male
81   2013    Male 12 — 17   574685  12 — 17    Male
82   2014    Male 12 — 17   728219  12 — 17    Male
83   2015    Male 12 — 17   743203  12 — 17    Male
84   2016    Male 12 — 17   727187  12 — 17    Male
85   2017    Male 12 — 17   909720  12 — 17    Male
86   2018    Male 12 — 17  1155747  12 — 17    Male
87   2019    Male 12 — 17  1146564  12 — 17    Male
88   2009    Male 18 — 59  2175511  18 — 59    Male
89   2010    Male 18 — 59  1880530  18 — 59    Male
90   2011    Male 18 — 59  1806012  18 — 59    Male
91   2012    Male 18 — 59  1776665  18 — 59    Male
92   2013    Male 18 — 59  1786236  18 — 59    Male
93   2014    Male 18 — 59  2066089  18 — 59    Male
94   2015    Male 18 — 59  2174168  18 — 59    Male
95   2016    Male 18 — 59  2182587  18 — 59    Male
96   2017    Male 18 — 59  2716598  18 — 59    Male
97   2018    Male 18 — 59  3977378  18 — 59    Male
98   2019    Male 18 — 59  3959445  18 — 59    Male
99   2009         Male 60   198257       60    Male
100  2010         Male 60   145406       60    Male
101  2011         Male 60   180037       60    Male
102  2012         Male 60   161741       60    Male
103  2013         Male 60   138891       60    Male
104  2014         Male 60   157676       60    Male
105  2015         Male 60   160261       60    Male
106  2016         Male 60   167141       60    Male
107  2017         Male 60   195432       60    Male
108  2018         Male 60   276029       60    Male
109  2019         Male 60   273668       60    Male

[110 rows x 5 columns]

In [160]:
df.to_csv('demographics_melted.csv')

## Transform Forcibly

In [71]:
df = pd.read_csv("population_forcibly_displaced.csv")
df.head()

,Year,Refugees under UNHCR’s mandate,Asylum-seekers,IDPs of concern to UNHCR,Venezuelans displaced abroad,Palestine refugees under UNRWA's mandate
0,2009,10395724,987875,15628057,0,4766670
1,2010,10548848,835871,14697804,0,4691079
2,2011,10403951,895604,15473378,0,4797723
3,2012,10497028,941455,17670368,0,4919917
4,2013,11698238,1162819,23925555,0,5030049

In [72]:
df = pd.melt(df, id_vars="Year", value_vars = df.columns[1:])

In [73]:
df.to_csv('population_forcibly_displaced_melted_2.csv')

## Transform decision

In [138]:
df = pd.read_csv('asylum-decisions.csv')
df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Authority,Decision level,Cases/Persons,Recognized,Complementary protection,Rejected,Otherwise closed,Total decisions
0,2009,Albania,ALB,Australia,AUS,G,AR,C,5,0,5,0,10
1,2009,Egypt,EGY,Australia,AUS,G,AR,C,14,0,16,5,35
2,2009,Bangladesh,BGD,Australia,AUS,G,AR,C,10,0,55,22,87
3,2009,Cambodia,KHM,Australia,AUS,G,AR,C,0,0,5,0,5
4,2009,China,CHN,Australia,AUS,G,AR,C,220,0,667,32,919

In [139]:
df = df[['Year','Country of asylum','Recognized','Complementary protection','Rejected','Otherwise closed','Total decisions']]

In [140]:
# df = df.set_index('Year')
df = df.groupby(by=['Country of asylum']).sum()
df = df.reset_index()
df = df.drop('Year',axis=1)
df.head()

,Country of asylum,Recognized,Complementary protection,Rejected,Otherwise closed,Total decisions
0,Afghanistan,189,0,65,234,488
1,Albania,87,44,15,8003,8149
2,Algeria,650,0,5950,17158,23758
3,Angola,1613,0,755,4004,6372
4,Antigua and Barbuda,15,0,0,0,15

In [137]:
df['Percentage of recognized'] = df['Recognized']/df['Total decisions']
df['Percentage of Complementary protection'] = df['Complementary protection']/df['Total decisions']
df['Percentage of Rejected'] = df['Rejected']/df['Total decisions']
df['Percentage of closed'] = df['Otherwise closed']/df['Total decisions']
df

,Country of asylum,Recognized,Complementary protection,Rejected,Otherwise closed,Total decisions,Percentage of recognized,Percentage of Complementary protection,Percentage of Rejected,Percentage of closed
0,Afghanistan,189,0,65,234,488,0.387295,0.000000,0.133197,0.479508
1,Albania,87,44,15,8003,8149,0.010676,0.005399,0.001841,0.982084
2,Algeria,650,0,5950,17158,23758,0.027359,0.000000,0.250442,0.722199
3,Angola,1613,0,755,4004,6372,0.253139,0.000000,0.118487,0.628374
4,Antigua and Barbuda,15,0,0,0,15,1.000000,0.000000,0.000000,0.000000
5,Argentina,1577,29,7566,4139,13311,0.118473,0.002179,0.568402,0.310946
6,Armenia,1329,38,373,672,2412,0.550995,0.015755,0.154643,0.278607
7,Aruba,0,0,5,0,5,0.000000,0.000000,1.000000,0.000000
8,Australia,61826,0,132825,16546,211197,0.292741,0.000000,0.628915,0.078344
9,Austria,100376,28763,96063,45430,270632,0.370895,0.106281,0.354958,0.167866
10,Azerbaijan,827,16,3357,586,4786,0.172796,0.003343,0.701421,0.122440
11,Bahamas,37,0,102,40,179,0.206704,0.000000,0.569832,0.223464
12,Bahrain,361,52,25,155,593,0.608769,0.087690,0.042159,0.261383
13,Bangladesh,67,0,35,111,213,0.314554,0.000000,0.164319,0.521127
14,Belarus,156,3822,1149,977,6104,0.025557,0.626147,0.188237,0.160059
15,Belgium,63129,18037,164611,30881,276658,0.228184,0.065196,0.594998,0.111622
16,Belize,63,5,143,1850,2061,0.030568,0.002426,0.069384,0.897623
17,Benin,1570,0,606,395,2571,0.610657,0.000000,0.235706,0.153637
18,Bolivia (Plurinational State of),98,10,601,331,1040,0.094231,0.009615,0.577885,0.318269
19,Bosnia and Herzegovina,10,139,576,2134,2859,0.003498,0.048618,0.201469,0.746415
20,Botswana,524,5,975,219,1723,0.304121,0.002902,0.565873,0.127104
21,Brazil,28872,799,10235,15669,55575,0.519514,0.014377,0.184166,0.281943
22,British Virgin Islands,0,0,0,32,32,0.000000,0.000000,0.000000,1.000000
23,Bulgaria,12452,7535,8759,36674,65420,0.190339,0.115179,0.133889,0.560593
24,Burkina Faso,418,10,32,972,1432,0.291899,0.006983,0.022346,0.678771
25,Burundi,66850,422,2930,16060,86262,0.774965,0.004892,0.033966,0.186177
26,Cambodia,70,0,160,228,458,0.152838,0.000000,0.349345,0.497817
27,Cameroon,22348,0,6333,16281,44962,0.497042,0.000000,0.140852,0.362106
28,Canada,140856,0,127555,42003,310414,0.453768,0.000000,0.410919,0.135313
29,Cayman Islands,41,0,277,15,333,0.123123,0.000000,0.831832,0.045045
...,...,...,...,...,...,...,...,...,...,...
148,South Africa,56689,0,573261,955250,1585200,0.035761,0.000000,0.361633,0.602605
149,South Sudan,339,61,148,1141,1689,0.200710,0.036116,0.087626,0.675548
150,Spain,4941,53796,45925,1673,106335,0.046466,0.505911,0.431890,0.015733
151,Sri Lanka,2803,0,920,1330,5053,0.554720,0.000000,0.182070,0.263210
152,Sudan,76623,95,2056,28073,106847,0.717128,0.000889,0.019242,0.262740
153,Suriname,44,0,55,68,167,0.263473,0.000000,0.329341,0.407186
154,Sweden,84970,164409,329522,118617,697518,0.121818,0.235706,0.472421,0.170056
155,Switzerland,52062,60615,60466,103885,277028,0.187930,0.218805,0.218267,0.374998
156,Syrian Arab Rep.,8088,168,8206,20786,37248,0.217139,0.004510,0.220307,0.558043
157,Tajikistan,5818,0,1688,2008,9514,0.611520,0.000000,0.177423,0.211057
158,Thailand,18618,0,10150,16453,45221,0.411711,0.000000,0.224453,0.363835
159,Timor-Leste,0,0,0,15,15,0.000000,0.000000,0.000000,1.000000
160,Togo,1034,10813,663,464,12974,0.079698,0.833436,0.051102,0.035764
161,Trinidad and Tobago,2519,5,123,544,3191,0.789408,0.001567,0.038546,0.170479
162,Tunisia,4318,0,919,1008,6245,0.691433,0.000000,0.147158,0.161409
163,Turkey,128688,0,15445,239901,384034,0.335095,0.000000,0.040218,0.624687
164,Turkmenistan,0,0,0,5,5,0.000000,0.000000,0.000000,1.000000
165,Turks and Caicos Islands,5,0,0,27,32,0.156250,0.000000,0.000000,0.843750
166,Uganda,239068,0,28127,43376,310571,0.769769,0.000000,0.090565,0.139665
167,Ukraine,1804,867,6892,10088,19651,0.091802,0.044120,0.350720,0.513358
168,United Arab Emirates,2555,18,81,3617,6271,0.407431,0.002870,0.012917,0.576782
169,United Kingdom of Great Britain and Northern I...,125929,18793,257832,57647,460201,0.273639,0.040837,0.560260,0.125265
170,United Rep. of Tanzania,1841,0,960,7862,10663,0.172653,0.000000,0.090031,0.737316
171,United States of America,280671,2292,302069,491284,1076316,0.260770,0.002129,0.280651,0.456450
172,Uruguay,260,0,204,7801,8265,0.031458,0.000000,0.024682,0.943860
173,Venezuela (Bolivarian Republic of),6990,0,21227,7628,35845,0.195006,0.000000,0.592189,0.212805
174,Viet Nam,5,0,0,0,5,1.000000,0.000000,0.000000,0.000000
175,Yemen,6849,83,2435,18441,27808,0.246296,0.002985,0.087565,0.663154
176,Zambia,40609,0,2228,2978,45815,0.886369,0.000000,0.048630,0.065001
177,Zimbabwe,3916,1219,1512,3221,9868,0.396838,0.123531,0.153223,0.326409

In [131]:
# df.to_csv('asylum-decisions_transformed1.csv')
df.head()

,Country of asylum,Recognized,Complementary protection,Rejected,Otherwise closed,Total decisions,Percentage of recognized,Percentage of Complementary protection,Percentage of Rejected,Percentage of closed
0,Afghanistan,189,0,65,234,488,0.387295,0.000000,0.133197,0.479508
1,Albania,87,44,15,8003,8149,0.010676,0.005399,0.001841,0.982084
2,Algeria,650,0,5950,17158,23758,0.027359,0.000000,0.250442,0.722199
3,Angola,1613,0,755,4004,6372,0.253139,0.000000,0.118487,0.628374
4,Antigua and Barbuda,15,0,0,0,15,1.000000,0.000000,0.000000,0.000000

In [141]:
df = pd.melt(df,id_vars='Country of asylum',value_vars = df.columns[1:])
df.head()
#

     Country of asylum    variable  value
0          Afghanistan  Recognized    189
1              Albania  Recognized     87
2              Algeria  Recognized    650
3               Angola  Recognized   1613
4  Antigua and Barbuda  Recognized     15

In [142]:
df.to_csv('asylum-decisions_transformed3.csv')

In [148]:
df = pd.read_csv('Capicty_and_contribution_of_host_country.csv')
df.head()

,Country/territory of asylum,Refugees per 1 million USD (GDP),"Refugees to 1,000 inhabitants",Refugees per 1 million USD (GDP) .1,"Refugees to 1,000 inhabitants .1",Country / territory of asylum ISO code
0,Afghanistan,3.90,1.90,25,66,AFG
1,Albania,-,-,137,150,ALB
2,Algeria,0.60,2.30,50,64,DZA
3,Angola,0.30,0.80,67,89,AGO
4,Anguilla,..,0.70,..,92,AIA

In [155]:
df[' Country/territory of asylum '] in ['Afghanistan','Albania']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [176]:
a = sorted(a,key=a)

TypeError: 'int' object is not callable

In [178]:
a.sort(key=lambda x:x[0])

In [179]:
a

[[0, 3], [0, 2], [1, 2]]

In [183]:
df = pd.read_csv('asylum-decisions_transformed2.csv').drop('Unnamed: 0',axis=1)

In [186]:
df.groupby('variable').mean().reset_index().to_csv('asylum-decisions_transformed3.csv')